body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255, 0, 0, 0.2);
}

ul {
    list-style: none;
}

img {
    border-radius: 10px;
    height: 250px;
    width: 350px;
}